.App {
  padding: 20px 5px;
  height: 100%;
}

.App-logo {
  height: 160px;
}

.Search-form {
  text-align: center;
}

.Search-input {
  font-size: 18px;
  padding: 8px;
  background-color: #F9F9F9;
  border: 1px solid #DDD;
  border-radius: 4px;
  width: 200px;
  max-width: calc(100% - 88px);
  outline: none;
  margin: 0 10px 10px 0;
}

.Search-button {
  font-size: 16px;
  padding: 8px 12px;
  background-color: #209b2c;
  color: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5px auto;
  max-width: 800px;
}

.App-tags-item {
  margin: 4px 6px 8px 6px;
  background-color: #eeeeee;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.App-tags-label {
  margin: 4px 6px 8px 6px;
  background-color: #eeeeee;
  padding: 5px 6px 0;
  border-radius: 10px;
  font-weight: bold;
}

.App-tags-label img {
  width: 23px;
}

.App-tags-item:hover, .App-tags-item.selected {
  background-color: #ddd;
}

.App-message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 25px 0 0;
  color: red;
}

.App-picture-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.App-picture-item {
  max-width: 480px;
  margin: 30px -5px 50px;
}

.App-picture-item-title {
  font-size: 18px;
  line-height: 18px;
}

.App-picture-item-subtitle {
  font-size: 20px;
}

.App-picture-item-image {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .App-picture-item {
    margin: 30px 15px 0;
  }
}

.App-footer {
  text-align: center;
  background-color: #ececec;
  padding: 12px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 20px;
}

.App-settings {
  bottom: 44px;
  opacity: 0.8;
}

.App-footer-label {
  padding: 0 6px;
}

.App-footer-item {
  margin: 0 3px;
  border-left: 1px solid #6b6b6b;
  padding: 0 6px;
  color: black;
  text-decoration: none;
}

.App-footer-item:first-child {
  border-left: none
}

.App-footer-item:hover {
  text-decoration: underline;
  cursor: pointer;
}