.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 160px;
}

.App-tree-items-holder {
  display: flex;
  justify-content: center;
}

.App-tree-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

.App-tree-item {
  width: calc(50% - 20px);
  margin: 0 10px 20px 10px;
  background-color: #eeeeee;
  padding: 10px 20px;
  border-radius: 10px;
}

.App-tree-item-title {
  font-size: 32px;
  margin: 3px 0;
}

.App-tree-item-subtitle {
  font-size: 20px;
}

.App-tree-item-image {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.App-tree-item-button {
  font-size: 14px;
  padding: 10px;
  background-color: #209b2c;
  color: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}