.App {
  text-align: center;
  padding: 20px 10px;
}

.App-logo {
  height: 160px;
}

.App-picture-items-holder {
  display: flex;
  justify-content: center;
}

.App-picture-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.App-picture-item {
  width: 400px;
  margin: 0 10px 20px 10px;
  background-color: #eeeeee;
  padding: 10px 20px;
  border-radius: 6px;
}

.App-picture-item-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.App-picture-item-subtitle {
  font-size: 20px;
}

.App-picture-item-image {
  width: 360px;
  border-radius: 6px;
}

.App-picture-item-button {
  font-size: 14px;
  padding: 10px;
  background-color: #209b2c;
  color: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}